/*#my-menu a{*/
	/*padding: 2%;*/
/*}*/

/*.ui.fitted.menu .item, .ui.fitted.menu .item .menu .item, .ui.menu .fitted.item{*/
	/*padding: 2em;*/
/*}*/

/*.ui.top.menu .ui.container {*/
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
/*}*/


.ui.main.text.container {
	margin-top: 6.0em;
}

.ui.circular.image{
	margin-top: -10%;
}

#bio-short {
	/*display: inline;*/
	padding: 3% 0 3% 0;
}

#visit-map {
	width: 40%;
	padding-bottom: 3%;
}

li{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}


.nd-pageheader {
	padding: 2rem 15px;
	margin-bottom: -3%;
	color: #e4f1fe;
	text-align: center;
	background-color: #0E2863;
}

.nd-pageheader a {
	color: #e4f1fe;
}

.nd-pageheader .container {
	position: relative
}

.nd-pageheader h1 {
	font-size: 3rem;
	font-weight: 400;
	color: #fff
}

.nd-pageheader address {
	margin-top: 2%;
	font-weight: 300;
	font-size: 1.2rem;
}

.nd-pageheader p {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 300
}

.textred {
	color: red;
}







