/*#my-menu a{*/
	/*padding: 2%;*/
/*}*/

/*.ui.fitted.menu .item, .ui.fitted.menu .item .menu .item, .ui.menu .fitted.item{*/
	/*padding: 2em;*/
/*}*/

/*.ui.top.menu .ui.container {*/
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
/*}*/


.ui.main.text.container {
	margin-top: 6.0em;
}


#bio-short {
	/*display: inline;*/
	padding: 3% 0 3% 0;
}

#visit-map {
	width: 40%;
	padding-bottom: 3%;
}

li{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
